// text colors
$color-white: #FFFFFF;
$color-gray: #CECECE;
$color-green: #039A43;
$color-purple: #7B00AF;
$color-blue: #008FE7;
$color-orange: #E56B00;
$color-yellow-accent: #F1C40F;
$color-red-accent: #E74C3C;
$color-green-accent: #2ECC71;

// base background color
$bg-gray: #ECF0F1;
$bg-green: #2ecc71;
$bg-blue: #3498db;
$bg-purple: #9b59b6;
$bg-orange: #f39c12;
$bg-red: #C0392B;

// elevation background color
$bg-green-darken: #27AE60;
$bg-blue-darken: #2980B9;
$bg-purple-darken: #8E44AD;
$bg-orange-darken: #E67E22;

// elevation shadow