@import '_vars.scss';

.bg-{
    &gray {
        background-color: $bg-gray;
    }
    &green {
        background-color: $bg-green;
        &-darken {
            background-color: $bg-green-darken;
        }
    }
    &blue {
        background-color: $bg-blue;
        &-darken {
            background-color: $bg-blue-darken;
        }
    }
    &orange {
        background-color: $bg-orange;
        &-darken {
            background-color: $bg-orange-darken;
        }
    }
    &purple {
        background-color: $bg-purple;
        &-darken {
            background-color: $bg-purple-darken;
        }
    }
    &red {
        background-color: $bg-red;
    }
}

.color-{
    &white {
        color: $color-white;
    }
    &gray {
        color: $color-gray;
    }
    &green {
        color: $color-green;
        &-accent {
            color: $color-green-accent;
        }
    }
    &blue {
        color: $color-blue;
    }
    &orange {
        color: $color-orange;
    }
    &purple {
        color: $color-purple;
    }
    &yellow {
        &-accent {
            color: $color-yellow-accent;
        }
    }
    &red {
        &-accent {
            color: $color-red-accent;
        }
    }
}

.shadow {
    &-4 {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
}