@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '_vars.scss';

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.posLock {
    position: fixed;
    z-index: 999;
}

nav {
    text-transform: uppercase;
    padding: 50px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: unset;
        text-decoration: none;
        &:hover, &.active {
            // gradient text
            background: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            // gradient border - bottom only
            border-bottom: 2px solid;
            border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
            border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
            border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-image-slice: 1;
        }
    }
    .links {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        .link:not(:last-child) {
            padding-right: 75px;
        }
    }
}

.blob {
    position: absolute;
    top: 0;
    right: 0;
    left: 50vw;
    height: 100%;
    width: 100%;
    background-image: url(/assets/blob1.svg);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 350%;
    z-index: -1;
}

#landingPage {
    width: 100vw;
    height: 100vh;
    .landing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33vw;
        height: 50vh;
        float: right;
        font-size: 1.5rem;
        margin-top: 150px;
    }
}

.cta {
    width: 90%;
    font-size: 3rem;
    text-align: center;

    // gradient text
    background: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // gradient border - bottom only
    border: 3px solid;
    border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
    border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
    border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-image-slice: 1;
}

.sessionsNav {
    position: absolute;
    left: 50px;
    top: 37.5vh;
    bottom: auto;
    ul {
        padding: 0;
        margin: 0;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        li {
            list-style: none;
            width: 31px;
            height: 27px;
            cursor: pointer;
        }
        #rebalanceLink {
            background-image: url(/assets/sessions/rebalance-gray.svg);
            background-repeat: no-repeat;
            &.active {
                background-image: url(/assets/sessions/rebalance-color.svg);
            }
            &.canHover:hover {
                background-image: url(/assets/sessions/rebalance-color.svg);
                &::after {
                    position: absolute;
                    content: attr(data-descr);
                    left: 50px;
                    width: 10ch;
                    height: 25px;

                    border-bottom: 2px solid;
                    border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
                    border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
                    border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border-image-slice: 1;
                }
            }
        }
        #calmLink {
            background-image: url(/assets/sessions/calm-gray.svg);
            background-repeat: no-repeat;
            &.active{
                background-image: url(/assets/sessions/calm-color.svg);
            }
            &.canHover:hover {
                background-image: url(/assets/sessions/calm-color.svg);
                &::after {
                    position: absolute;
                    content: attr(data-descr);
                    left: 50px;
                    width: 8ch;
                    height: 25px;
                    
                    border-bottom: 2px solid;
                    border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
                    border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
                    border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border-image-slice: 1;
                }
            }
        }
        #recoverLink {
            background-image: url(/assets/sessions/recover-gray.svg);
            background-repeat: no-repeat;
            &.active{
                background-image: url(/assets/sessions/recover-color.svg);
            }
            &.canHover:hover {
                background-image: url(/assets/sessions/recover-color.svg);
                &::after {
                    position: absolute;
                    content: attr(data-descr);
                    left: 50px;
                    width: 9ch;
                    height: 25px;
                    
                    border-bottom: 2px solid;
                    border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
                    border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
                    border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border-image-slice: 1;
                }
            }
        }
        #energyLink {
            background-image: url(/assets/sessions/energy-gray.svg);
            background-repeat: no-repeat;
            &.active{
                background-image: url(/assets/sessions/energy-color.svg);
            }
            &.canHover:hover {
                background-image: url(/assets/sessions/energy-color.svg);
                &::after {
                    position: absolute;
                    content: attr(data-descr);
                    left: 50px;
                    width: 10ch;
                    height: 25px;
                    
                    border-bottom: 2px solid;
                    border-image: -moz-linear-gradient(left, $bg-blue 0%, $bg-orange 33%, $bg-purple 66%, $bg-green 100%); /* FF3.6-15 */
                    border-image: -webkit-linear-gradient(left, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* Chrome10-25,Safari5.1-6 */
                    border-image: linear-gradient(to right, $bg-blue 0%,$bg-orange 33%,$bg-purple 66%,$bg-green 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border-image-slice: 1;
                }
            }
        }
    }
}
