@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.posLock {
  position: fixed;
  z-index: 999;
}

nav {
  text-transform: uppercase;
  padding: 50px 50px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  color: unset;
  text-decoration: none;
}

nav a:hover, nav a.active {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
  background: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}

nav .links {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .links .link:not(:last-child) {
  padding-right: 75px;
}

.blob {
  position: absolute;
  top: 0;
  right: 0;
  left: 50vw;
  height: 100%;
  width: 100%;
  background-image: url(/assets/blob1.svg);
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: 350%;
  z-index: -1;
}

#landingPage {
  width: 100vw;
  height: 100vh;
}

#landingPage .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33vw;
  height: 50vh;
  float: right;
  font-size: 1.5rem;
  margin-top: 150px;
}

.cta {
  width: 90%;
  font-size: 3rem;
  text-align: center;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
  background: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}

.sessionsNav {
  position: absolute;
  left: 50px;
  top: 37.5vh;
  bottom: auto;
}

.sessionsNav ul {
  padding: 0;
  margin: 0;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sessionsNav ul li {
  list-style: none;
  width: 31px;
  height: 27px;
  cursor: pointer;
}

.sessionsNav ul #rebalanceLink {
  background-image: url(/assets/sessions/rebalance-gray.svg);
  background-repeat: no-repeat;
}

.sessionsNav ul #rebalanceLink.active {
  background-image: url(/assets/sessions/rebalance-color.svg);
}

.sessionsNav ul #rebalanceLink.canHover:hover {
  background-image: url(/assets/sessions/rebalance-color.svg);
}

.sessionsNav ul #rebalanceLink.canHover:hover::after {
  position: absolute;
  content: attr(data-descr);
  left: 50px;
  width: 10ch;
  height: 25px;
  border-bottom: 2px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}

.sessionsNav ul #calmLink {
  background-image: url(/assets/sessions/calm-gray.svg);
  background-repeat: no-repeat;
}

.sessionsNav ul #calmLink.active {
  background-image: url(/assets/sessions/calm-color.svg);
}

.sessionsNav ul #calmLink.canHover:hover {
  background-image: url(/assets/sessions/calm-color.svg);
}

.sessionsNav ul #calmLink.canHover:hover::after {
  position: absolute;
  content: attr(data-descr);
  left: 50px;
  width: 8ch;
  height: 25px;
  border-bottom: 2px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}

.sessionsNav ul #recoverLink {
  background-image: url(/assets/sessions/recover-gray.svg);
  background-repeat: no-repeat;
}

.sessionsNav ul #recoverLink.active {
  background-image: url(/assets/sessions/recover-color.svg);
}

.sessionsNav ul #recoverLink.canHover:hover {
  background-image: url(/assets/sessions/recover-color.svg);
}

.sessionsNav ul #recoverLink.canHover:hover::after {
  position: absolute;
  content: attr(data-descr);
  left: 50px;
  width: 9ch;
  height: 25px;
  border-bottom: 2px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}

.sessionsNav ul #energyLink {
  background-image: url(/assets/sessions/energy-gray.svg);
  background-repeat: no-repeat;
}

.sessionsNav ul #energyLink.active {
  background-image: url(/assets/sessions/energy-color.svg);
}

.sessionsNav ul #energyLink.canHover:hover {
  background-image: url(/assets/sessions/energy-color.svg);
}

.sessionsNav ul #energyLink.canHover:hover::after {
  position: absolute;
  content: attr(data-descr);
  left: 50px;
  width: 10ch;
  height: 25px;
  border-bottom: 2px solid;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  -o-border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#3498db), color-stop(33%, #f39c12), color-stop(66%, #9b59b6), to(#2ecc71));
     border-image: linear-gradient(to right, #3498db 0%, #f39c12 33%, #9b59b6 66%, #2ecc71 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-image-slice: 1;
}
/*# sourceMappingURL=main.css.map */