@import '_vars.scss';

#sections {
    height:100vh;
    width: 100vw;
}
.session {
    width: 100vw;
    height: 100vh;
    padding: 100px;
}

.inner {
    width: 85%;
    height: 80%;
}

#rebalancing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calming {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#recover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#energising {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 140px;
    right: 110px;
    height: 50px;
    width: 200px;
    transform: rotate(45deg);
}

.decription {
    max-width: 50%;
    font-size: 1.5rem;
}

.content {
    // display: flex;
    // flex-direction: column;
    margin: 25px;
    .title {
        font-size: 3rem;
    }
}

.price {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: bolder;
    .amount {
        position: absolute;
        top: 7rem;
        left: .5rem;
        bottom: auto;
    }
}

.btn-red {
    display: inline-block;
    border: 2px solid $color-red-accent;
    font-size: 3rem;
    cursor: pointer;
}
.btn-yellow {
    display: inline-block;
    border: 2px solid $color-yellow-accent;
    font-size: 3rem;
    cursor: pointer;
}
.btn-green {
    display: inline-block;
    border: 2px solid $color-green-accent;
    font-size: 3rem;
    cursor: pointer;
}